<button class="btn btn-primary" (click)="createModal = true">Создать</button>

<clr-datagrid>
  <clr-dg-column>ID</clr-dg-column>
  <clr-dg-column>Наименование</clr-dg-column>
  <clr-dg-column>Доступна для заказа</clr-dg-column>
  <clr-dg-column>Действия</clr-dg-column>

  <clr-dg-row *ngFor="let item of locations">
    <clr-dg-cell>{{ item._id }}</clr-dg-cell>
    <clr-dg-cell>{{ item.name }}</clr-dg-cell>
    <clr-dg-cell>{{ item.available ? 'Да' : 'Нет' }}</clr-dg-cell>
    <clr-dg-cell>
      <a href="#" (click)="location = item; editModal = true; false">Редактировать</a>
    </clr-dg-cell>
  </clr-dg-row>
</clr-datagrid>

<div class="modal" *ngIf="editModal && location">
  <div class="modal-dialog" role="dialog" aria-hidden="true">
    <div class="modal-content">
      <div class="modal-header">
        <button aria-label="Close" class="close" type="button" (click)="editModal = false;">
          <clr-icon aria-hidden="true" shape="close"></clr-icon>
        </button>
        <h3 class="modal-title">{{ location.name }}</h3>
      </div>
      <div class="modal-body">
        <form clrForm>
          <clr-input-container>
            <label>Наименование</label>
            <input clrInput type="text" [(ngModel)]="location.name" name="name" />
          </clr-input-container>
          <clr-checkbox-container>
            <clr-checkbox-wrapper>
              <input type="checkbox" clrCheckbox [value]="true" [(ngModel)]="location.available" name="available" />
              <label>Доступна для заказа</label>
            </clr-checkbox-wrapper>
          </clr-checkbox-container>
        </form>
      </div>
      <div class="modal-footer">
        <button class="btn btn-outline" type="button" (click)="editModal = false;">Отмена</button>
        <button class="btn btn-primary" type="button" (click)="save()">Сохранить</button>
      </div>
    </div>
  </div>
</div>
<div class="modal" *ngIf="createModal">
  <div class="modal-dialog" role="dialog" aria-hidden="true">
    <div class="modal-content">
      <div class="modal-header">
        <button aria-label="Close" class="close" type="button" (click)="createModal = false;">
          <clr-icon aria-hidden="true" shape="close"></clr-icon>
        </button>
        <h3 class="modal-title">Создать локацию</h3>
      </div>
      <div class="modal-body">
        <form clrForm>
          <clr-input-container>
            <label>Наименование</label>
            <input clrInput type="text" [(ngModel)]="createForm.name" name="name" />
          </clr-input-container>
          <clr-checkbox-container>
            <clr-checkbox-wrapper>
              <input type="checkbox" clrCheckbox [value]="true" [(ngModel)]="createForm.available" name="available" />
              <label>Доступна для заказа</label>
            </clr-checkbox-wrapper>
          </clr-checkbox-container>
        </form>
      </div>
      <div class="modal-footer">
        <button class="btn btn-outline" type="button" (click)="createModal = false;">Отмена</button>
        <button class="btn btn-primary" type="button" (click)="create()">Создать</button>
      </div>
    </div>
  </div>
</div>
<div class="modal-backdrop" aria-hidden="true" *ngIf="editModal || createModal"></div>
